@media (max-width: 768px) {
  .custom_card {
    display: flex;
    flex-direction: column;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product_image {
    width: 100%;
  }

  .product_details {
    text-align: center;
  }
}

.custom_accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.accordion_header {
  background-color: #f7f7f7;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.accordion_body {
  padding: 10px;
}

.custom_card {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product_info {
  display: flex;
  align-items: center;
}

.product_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.product_details {
  flex-grow: 1;
}

.product_text {
  font-size: 14px;
}

.product_info_label {
  font-weight: bold;
  margin-right: 5px;
}

.rtlAccordionHeader button::after {
  margin-left: unset !important;
  margin-right: auto !important;
}

.accordion_header button::after {
  margin-left: auto;
  margin-right: unset;
}
