.slide {
  /* width: 1250px; */
  width: 100%;
  height: auto;
}

.slideImage {
  display: block;
  margin: 0 auto;
  /* width: 1295px; */
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper_container .full_width {
  width: 100%;
  height: auto;
}
