.section_style {
  background: linear-gradient(to right, #ff8a00, #e52e71) !important;
}

a.button::before svg {
  color: white;
}

a.button:hover svg {
  color: black;
}

.footer_text {
  text-align: left;
}
